.btn{
  display: inline-block;
  padding: 1.5rem 3rem;
  width: 100%;
  font: inherit;
  line-height: 1.2;
  border-radius: 2rem;
  background: $c-secondary;
  color: #fff;
  border: none;
  letter-spacing: .7px;
}