.intro {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  &__headline {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  &__test {

  }
}